
/* universal selecor */
*{
	font-family: sans-serif, monospace;
	font-size: 15px;
}

/* external styling */
p{
	color: rosybrown;
}

/* type selector */
h1{
	font-size: 50px;
}


/* id selector */
#uppercase{
	text-transform: uppercase;
}

/* class selector */
.background{
	background-color: green;
}

/* attribute selector */
li[lang]{
	border: 2px solid salmon;
}

/* adjacent sibling selector */
img + ol{
	list-style-type: none;
}

/* descendant selector */
/* i only use the #image because if i use body img as my descendant selector and if i have many images under body it won`t work. for example only. */
#image img{
	height: 6rem;
	width: 6rem;
	border-radius: 120px;
}

/* generic sibling selector */
h3~footer{
	text-align: center;
}

/* child selector */
#image > ol{
	letter-spacing: 7.5px;
}